<div class="item-card" (click)="goToDetail()">
  <div class="item-image" [style.background-image]="'url(' + track.imageUrl + ')'">
    <div class="difficulty-badge" [class.easy]="track.difficulty <= 3" [class.medium]="track.difficulty > 3 && track.difficulty <= 6" [class.hard]="track.difficulty > 6">
      {{ getDifficultyLabel(track.difficulty) }}
    </div>
  </div>
  <div class="card-body">
    <div class="item-title">{{ track.title }}</div>
    <div class="item-location">
      <ion-icon name="location-outline" size="small"></ion-icon>
      {{ track.location || 'Località non specificata' }}
    </div>
    <div class="item-desc">{{ track.description?.substring(0, 80) }}{{ track.description?.length > 80 ? '...' : '' }}</div>
    <div class="card-stats">
      <span *ngIf="distance > 0"><ion-icon name="navigate-outline"></ion-icon> {{ distance }} km</span>
      <span *ngIf="track.elevation > 0"><ion-icon name="trending-up-outline"></ion-icon> {{ track.elevation }} m</span>
      <span><ion-icon name="flame-outline"></ion-icon> {{ track.difficulty }}/10</span>
    </div>
    <div class="card-footer">
      <div class="card-user" *ngIf="track.userName">
        <ion-avatar>
          <img [src]="track.userImage || 'assets/icon/favicon.png'" alt="user">
        </ion-avatar>
        <span>{{ track.userName }}</span>
      </div>
      <div class="card-likes">
        <ion-icon name="heart-outline" color="danger"></ion-icon>
        <span>{{ track.likesCount || 0 }}</span>
      </div>
    </div>
  </div>
</div>