<ion-content>
  <!-- Filter Bar -->
  <div class="filter-bar">
    <ion-item class="filter-item">
      <ion-label>Difficoltà</ion-label>
      <ion-select [(ngModel)]="filterDifficulty" (ionChange)="onFilterChange()" interface="popover" placeholder="Tutte">
        <ion-select-option [value]="null">Tutte</ion-select-option>
        <ion-select-option [value]="1">1 - Facile</ion-select-option>
        <ion-select-option [value]="2">2</ion-select-option>
        <ion-select-option [value]="3">3</ion-select-option>
        <ion-select-option [value]="4">4</ion-select-option>
        <ion-select-option [value]="5">5 - Media</ion-select-option>
        <ion-select-option [value]="6">6</ion-select-option>
        <ion-select-option [value]="7">7 - Difficile</ion-select-option>
        <ion-select-option [value]="8">8</ion-select-option>
        <ion-select-option [value]="9">9</ion-select-option>
        <ion-select-option [value]="10">10 - Estrema</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="filter-item">
      <ion-label>Max distanza: {{ filterMaxDistance }} km</ion-label>
      <ion-range [(ngModel)]="filterMaxDistance" min="1" max="200" step="1" (ionChange)="onFilterChange()">
        <ion-label slot="start">1 km</ion-label>
        <ion-label slot="end">200 km</ion-label>
      </ion-range>
    </ion-item>
  </div>

  <!-- Map -->
  <div id="explore-map" class="map-container"></div>
</ion-content>