/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
.bg {
    background-image: url("./assets/bg_bn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: #d8d8d8;
    --background: none;
}

.item-container{
    //height: 100%;
    width: 100%;
    background-color: #ffffff00;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0.7rem;
    text-align: center;
}
//============================= HEADER =============================
.header-container{
    width: 100%;
    padding: 0.5rem;
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.header-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //margin: auto;
}
.logo img{
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}
.logo h1{
    color: #212121;
    font-size: 1.5rem;
    margin: 0;
}
.options{
    width: 3rem;
    height: 3rem;
    font-size: 2.3rem;
    color: #a6a6a6;
    border-radius: 50%;
}
.options:active{
    background-color: #d8d8d8;
}
//============================= MENU BAR =============================
.menu-container{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-color: #ffffff;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    background-color: #ffffff;
    color: #212121;
    border-radius: 50%;
    transition: all 0.1s;
}
.menu-icon p{
    font-size: 0.7rem;
    margin: 0;
}
.menu-icon:active{
    background-color: #d8d8d8;
}
//============================= CARD =============================
.item-card{
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem 0;
}
.item-card .item-title{
    font-size: 1.3rem;
    font-weight: bold;
}
.item-image{
    width: 100%;
    height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item-desc{
    margin: 0 1.5rem;
}
.item-actions{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-action{
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-action.go{
    background: #3e89aa;
    color: #ffffff;
}
.item-action.search-adv{
    background: #dbc03a;
    color: #ffffff;
}.item-action.create-new-adv{
    background: #48a63e;
    color: #ffffff;
}
//============================= PROFILE-PAGE =============================
.welcome{
    margin: 0;
}
.profile-image{
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
}
.user-info{
    margin-top: 1rem;
    width: 100%;
    font-size: 1.2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
}